.NewPost {
  width: 50%;
  margin: 20px auto;
  border: 1px solid #eee;
  box-shadow: 0 3px 10px 4px #888;
  text-align: center;
  background-color: #eee;
  border-radius: 5px;
}

.NewPost label {
  display: block;
  margin: 10px auto;
  text-align: center;
  font-weight: bold;
}

.NewPost input,
.NewPost textarea,
.NewPost select {
  display: block;
  width: 80%;
  box-sizing: border-box;
  border: 1px solid black;
  outline: none;
  font: inherit;
  margin: auto;
}

.NewPost button {
  margin: 30px 0;
  padding: 10px;
  font: inherit;
  border: 1px solid #888;
  background-color: #ccc;
  color: black;
  cursor: pointer;
  border-radius: 5px;
}

.NewPost button:hover,
.NewPost button:active {
  color: white;
  background-color: #36642a;
  border: 1px solid #36642a;
}

@media (max-width: 800px) {
  .NewPost {
    width: 80%;
  }
}
